.scale:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.outline {
    -fx-effect: dropshadow(gaussian, -color-bg-default, 2, 1, 0, 0);
}

.vertex-node {
    -fx-fill: -color-bg-default;
    -fx-stroke: -color-accent-fg;
    -fx-color: -color-accent-emphasis;
}

.grid-bg {
    -fx-background-color: -color-bg-default,
        linear-gradient(from 0.5px 0.0px to 10.5px  0.0px, repeat, -color-accent-fg 5%, transparent 5%),
        linear-gradient(from 0.0px 0.5px to  0.0px 10.5px, repeat, -color-accent-fg 5%, transparent 5%);
}

.stroke-primary {
    -fx-stroke: -color-accent-fg;
}

.stroke-hover {
    -fx-stroke: -color-warning-emphasis;
}

.stroke-warning {
    -fx-stroke: -color-warning-emphasis;
}

.stroke-info {
    -fx-stroke: -color-neutral-emphasis;
}

.stroke-error {
    -fx-stroke: -color-danger-emphasis;
}

.stroke-selected {
    -fx-stroke: -color-success-fg;
}

.stroke-success {
    -fx-stroke: -color-success-fg;
}

.bg-neutral-subtle {
    -fx-background-color: -color-neutral-subtle;
}

.bg-error {
    -fx-background-color: -color-danger-subtle;
}

.bg-warning {
    -fx-background-color: -color-warning-subtle;
}

.log-text {
    -fx-font-family: "monospace";
    -fx-font-size: 13.0;
    -fx-background-color: -color-neutral-subtle;
    -fx-padding: 8;
    -fx-fill: -color-fg-default;
}

.status-bar-text {
    -fx-font-family: "monospace";
    -fx-font-size: 12.0;
}

.text-monospace {
    -fx-font-family: "monospace";
}

.modal-rounded {
    -fx-background-radius: 10 10 10 10;
}
